.wrapper {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 99;
}

.item {
    cursor: pointer;
    height: 30vh !important;

    .content {
        background: black;

        img {
            height: 30vh;
            width: 100%;
            opacity: .8;
        }

        .text_wrapper {
            bottom: 0;
            color: white;
            left: 0;
            padding: 0 10px 15px;
            position: absolute;
            p {
                line-height: 1.4em;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                margin-bottom: 0;
                max-height: 4.2em;
                min-height: 4.2em;
                overflow: hidden;
            }
        }
    }
}